/****************************** TAG SELECTORS *********************************/

body{
  background-color: white;
  font-family: "Open Sans";
}

h1{
  color: #1e6f5c;
}

h2{
  color: #289672;
}

h3{
  color: #29bb89;
}

hr{
  border-color: #29bb89;
  border-style: dotted none none;
  border-top-width: 10px;
  left: 47%;
  margin-top: 5%;
  width: 5%;
  opacity: 50%;
  margin-bottom: 0;
}

p{
  color: #29bb89;
  font-weight: bold;
  text-align: justify;
}

ul{
  color: #29bb89;
  font-weight: bold;
  text-align: left;
}



/***************************** ID SELECTORS ********************************/
#name{
  font-family: Italianno;
}

/***************************** CLASS SELECTORS ********************************/

.bio-section{
  background-image: url("images/cv/hand_shaking.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right center;
  margin-top: 3%;
}

.cv-section{
  height: 95%;
}

.description-paragraph{
  margin: 10% auto;
  width: 60%;
}

.even-row-image{
  float: right;
}

.fa{
  padding: 8px 10px;
  font-size: 2rem; /* 1 rem = 16 px */
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  vertical-align: middle;
}

.fa-email{
  background-color: red;
  color: white;
}

.fa-github{
  color: black;
}

.fa-linkedin{
  background-color: #007bb5;
  color: white;
}

.information-div{
  text-align: center;
  align-content: center;
  width: 60%;
}

.leading-image{
  border-radius: 50%; /*Make image round*/
  width: 100%;
}


.odd-row-image{
  float: left;
}


.profile-image-wrapper{
  margin: 0 auto;
  width: 20%;
}

.skills-section{
  background-color: white;
}


.skill-row{
  margin: 0 auto;
  position: relative;
  width: 80%;
  vertical-align: middle;
  overflow: auto; /* Wrap content height even when 'float' is used*/
}

.skills-div{
  width: 100%;
}

.skill-description{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.even-row-skill-description{
  right: 30%;
}

.odd-row-skill-description{
  left: 30%;
}

.skill-image{
  width: 25%;
  border-radius: 50%;
}

.transparent-skill-image{
    width: 100%;
}

.skill-image-wrapper{
  width: 20%;
  border-radius: 50%;
  background-color: #29bb89;
  margin: 0 auto;
  padding: 3%
}


.skills-title{
  transform: rotate(-45deg);
  display: inline-block;
  margin: 8% auto auto 5%;
}


.title{
  font-size: 3.5rem;
}
