/****************************** TAG SELECTORS *********************************/

body{
  background-color: white;
  font-family: "Open Sans";
  margin: 0;
  padding: 0 0 10px;
}

h1{
  color: #1e6f5c;
}

h2{
  color: #289672;
}

h3{
  color: #29bb89;
}

hr{
  border-color: #29bb89;
  border-style: dotted none none;
  border-top-width: 10px;
  left: 47%;
  margin-top: 5%;
  margin-bottom: 0;
  opacity: 50%;
  width: 5%;
}

p{
  color: #29bb89;
  font-weight: bold;
  text-align: justify;
}

ul{
  color: #29bb89;
  font-weight: bold;
  text-align: left;
}



/***************************** ID SELECTORS ********************************/
#name{
  font-family: Italianno;
}

/***************************** CLASS SELECTORS ********************************/

.bio-section{
  background-image: url("images/cv/hand_shaking.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 35%;
  margin-top: 3%;
}

.cv-section{
  height: 95%;
}

.description-paragraph{
  margin: 10% auto;
  width: 60%;
}

.even-row-image{
  float: right;
}

.even-row-description{
  right: 30%;
}

.fa{
  border-radius: 20%;
  font-size: 2rem; /* 1 rem = 16 px */
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.fa-email{
  background-color: red;
  color: white;
}

.fa-github{
  color: black;
}

.fa-linkedin{
  background-color: #007bb5;
  color: white;
}

.gears{
  position: absolute;
  width: 10vw;
}

.gears-top-left-icon{
  left: -5%;
}

.gears-top-right-icon{
  right: -5%;
}

.gears-bottom-left-icon{
  bottom: 0;
  left: -5%;
}

.gears-bottom-right-icon{
  bottom: 0;
  right: -5%;
}

.gears-middle-left-icon{
  width: 5%;
  left: 25vw;
  top: calc(0.2*50vh);
}

.gears-middle-right-icon{
  right: 25vw;
  top: calc(0.6 * 50vh);
  width: 5%;
}

.information-div{
  align-content: center;
  text-align: center;
  width: 60%;
}

.item-row{
  margin: 0 auto;
  position: relative;
  width: 80%;
  overflow: auto;
}

.leading-image{
  border-radius: 50%; /*Make image round*/
  width: 100%;
}


.odd-row-image{
  float: left;
}

.odd-row-description{
  left: 30%;
}

.projects-banner{
  display: flex;
  height: 50vh;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.projects-div{
  margin-top: 50px;
  width: 100%;
}

.project-image{
  border-radius: 10%;
  width: 25%;
}

.profile-image-wrapper{
  margin: 0 auto;
  width: 20%;
}

.projects-title{
  font-family: "Reggae One";
  font-size: 8vw;
  margin: auto;
}

.project-title{
  color: #1eae98;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}


.project-title:hover{
  color: red;
}

.skills-div{
  width: 100%;
  margin-top: 50px;
}

.skill-description{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.skill-image{
  width: 25%;
  border-radius: 50%;
}

.skill-image-wrapper{
  width: 20%;
  border-radius: 50%;
  background-color: #29bb89;
  margin: 0 auto;
  padding: 3%
}

.skills-title{
  transform: rotate(-45deg);
  display: inline-block;
  margin: 8% auto auto 5%;
}

.title{
  font-size: 3.5rem;
}

.transparent-skill-image{
    width: 100%;
}
